{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boutique/assessment.css' %}">


<ul footer=top>
  <img src="/static/boutique/images/logo.png" alt="" type="logo-image-top">
  <li type="top-list"><a href="/boutique/index">Home</a></li>
  <li type="top-list"><a href="/boutique/assessment">Assessment</a></li>
  <li type="top-list"><a href="/boutique/trainings">Training</a></li>
  <li type="top-list"><a href="/boutique/calendar">Calendar</a></li>
  <li type="top-list"><a href="/boutique/consulting">Consulting</a></li>
  <input type="search" placeholder="Search..">
  <img src="/static/boutique/images/profil.png" alt="" type="profil-image">
</ul>



<body>
  <div type="why-assessment">
    <h2 type="left-title"> Why assessment ? </h2>
    <div type="assessment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
      qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </div>
  </div>

  <div type="assessment-type">
    <h2 type="left-title"> What are the different types of assessments ? </h2>

    <div type="assessment-container">
      <div type="image-container" service="assessment"> </div>
      <div type="text-container">
        <h4> Leadership Assessment </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>

    <div type="assessment-container">
      <div type="image-container" service="trainings"> </div>
      <div type="text-container">
        <h4> Team Assessment </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>

    <div type="assessment-container">
      <div type="image-container" service="coaching"> </div>
      <div type="text-container">
        <h4> DevOps Assessment </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>

    <div type="assessment-container">
      <div type="image-container" service="assessment"> </div>
      <div type="text-container">
        <h4> Assessment </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>

  </div>




  <div>
    <ul footer=bottom>
      <img src="/static/boutique/images/logo.png" alt="" type="logo-image-bottom">
      <li type="bottom-list"><a href="/boutique/index">About us</a></li>
      <li type="bottom-list"><a href="/boutique/assessment">Contact us</a></li>
      <li type="bottom-list"><a href="/boutique/trainings">Join us</a></li>
      <li type="bottom-list" position="last"><a href="/boutique/calendar">Terms & Conditions</a></li>
      <img src="/static/boutique/images/twitter.png" alt="" type="social-image">
      <img src="/static/boutique/images/instagram.png" alt="" type="social-image">
      <img src="/static/boutique/images/facebook.png" alt="" type="social-image">
    </ul>
  </div>

</body>
