{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boutique/calendar.css' %}">


<ul footer=top>
  <img src="/static/boutique/images/logo.png" alt="" type="logo-image-top">
  <li type="top-list"><a href="/boutique/index">Home</a></li>
  <li type="top-list"><a href="/boutique/assessment">Assessment</a></li>
  <li type="top-list"><a href="/boutique/trainings">Training</a></li>
  <li type="top-list"><a href="/boutique/calendar">Calendar</a></li>
  <li type="top-list"><a href="/boutique/consulting">Consulting</a></li>
  <input type="search" placeholder="Search..">
  <img src="/static/boutique/images/profil.png" alt="" type="profil-image">
</ul>



<body>

  <h2 type="left-title"> Upcoming courses </h2>

  <div type="container">
    <div type="left-container">
      <input class="calendar" type="date" id="start" name="trip-start" value="2020-08-06" min="2020-08-06" max="2020-12-31">
      <input class="search_field" type="search-class" placeholder="Search.." onchange="SearchFunction(this.value)">
      <button class="clear_button" type="show-all"> Clear filters </button>
    </div>

    <div type="right-container">
      {% if instances_list %}
      <script>
        const calendar = document.querySelector('.calendar');
        calendar.addEventListener('change', (event) => {
          const courses = document.querySelectorAll('.course');
          courses.forEach(function(coursecontainer) {
            if (coursecontainer.getAttribute('date') != event.target.value) {
              coursecontainer.style.display = 'none'
            } else {
              coursecontainer.style.display = 'block'
            }
          })
        });


        function SearchFunction(value) {
          const courses = document.querySelectorAll('.course');
          const lower_value = value.toLowerCase();
          courses.forEach(function(coursecontainer) {
            if (coursecontainer.getAttribute('name').toLowerCase().includes(lower_value) ||
            coursecontainer.getAttribute('location').toLowerCase().includes(lower_value)) {
              coursecontainer.style.display = 'block'
            } else {
              coursecontainer.style.display = 'none'
            }
          })
        }

        const clear_button = document.querySelector('.clear_button');
        clear_button.addEventListener('click', (event) => {
          const courses = document.querySelectorAll('.course');
          courses.forEach(function(coursecontainer) {
            coursecontainer.style.display = 'block'
          })
        });

      </script>
      {% for instance in instances_list %}
      <div class="course" type="course-container" name="{{instance.course.course_name}}" location="{{instance.location}}" date="{{instance.date|date:"Y-m-d"}}">
        <img src="/static/boutique/images/{{instance.image_name}}.png" special="{{instance.image_name}}" type="course-image">
        <div type="course-description">
          <a href="/boutique/course/{{ instance.course.course_name }}/">
            <p id="course-title"> {{instance.course.course_name}} </p>
          </a> <br>
          By <p id="course-teacher"> {{instance.course.instructor.user_name}} </p> on <p id="course-date"> {{instance.date}} </p> <br>
          <p id="course-location"> {{instance.location}} </p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No course are available.</p>
      {% endif %}
    </div>
  </div>





  <div>
    <ul footer=bottom>
      <img src="/static/boutique/images/logo.png" alt="" type="logo-image-bottom">
      <li type="bottom-list"><a onclick="aboutus()">About us</a></li>
      <li type="bottom-list"><a onclick="contactus()">Contact us</a></li>
      <li type="bottom-list"><a onclick="joinus()">Join us</a></li>
      <li type="bottom-list" position="last"><a onclick="terms()">Terms & Conditions</a></li>
      <img src="/static/boutique/images/twitter.png" alt="" type="social-image">
      <img src="/static/boutique/images/instagram.png" alt="" type="social-image">
      <img src="/static/boutique/images/facebook.png" alt="" type="social-image">
    </ul>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function aboutus() {
      swal("About Us", "EasyAgile is a company specialized in the sale of agile trainings. \nWe have more than 500 employee all around the world. Our teachers \
have been working in the area of agile development for at least 5 years. ");
    }

    function contactus() {
      swal("We'd love to hear from you !", "Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions. \n\
    Write us at the address: easyagile@gmail.com");
    }

    function joinus() {
      swal("Want to be a part of our adventure ?", "Join our team in Paris to help reshape the agile traning landscape and sell product that reach over 5 million customers worldwide!\n\
    Write us at the address: easyagile@gmail.com");
    }

    function terms() {
      var content = document.createElement('div');
      content.innerHTML = 'Please read these terms and conditions of use carefully before accessing, using or obtaining any materials, information,\
       products or services.\nBy accessing, the our website, you agree to be bound by these terms and conditions ("Terms") and our Privacy Policy.';
      swal({
        title: "Terms & Conditions",
        content: content
      });
    }
  </script>

</body>
