{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boutique/course.css' %}">

<ul footer=top>
  <img src="/static/boutique/images/logo.png" alt="" type="logo-image-top">
  <li type="top-list"><a href="/boutique/index">Home</a></li>
  <li type="top-list"><a href="/boutique/assessment">Assessment</a></li>
  <li type="top-list"><a href="/boutique/trainings">Training</a></li>
  <li type="top-list"><a href="/boutique/calendar">Calendar</a></li>
  <li type="top-list"><a href="/boutique/consulting">Consulting</a></li>
  <input type="search" placeholder="Search..">
  <img src="/static/boutique/images/profil.png" alt="" type="profil-image">
</ul>


<body>

  <div type=image-container>
    <div type=presentation-container>
      <h2 id="title"> </h2>
      <h4 id="description"> </h4>
      <h4 id="price"> Price: </h4>
    </div>
  </div>

  <button type="register"> Register Now </button>


  <div type="border-div"> </div>
  <div type="container">
    <div type="left-div">
      <h3> Who is this Course for ?</h3>
      <div id="who_for"></div>
    </div>

    <div type="right-div">
      <h3> What's in this Course ?</h3>
      <div id="what_in_it"></div>
    </div>
  </div>

  <div type="border-div"> </div>
  <div type="container">
    <h3 type="title-center"> What You will Learn </h3>
    <div type="module">
      <img src="/static/boutique/images/lightbulb.png" type="light">
      <div id="module1" type="module-name"> </div>
      <div id="module1_desc"> </div>
    </div>

    <div type="module">
      <img src="/static/boutique/images/lightbulb.png" type="light">
      <div id="module2" type="module-name"> </div>
      <div id="module2_desc"> </div>
    </div>

    <div type="module">
      <img src="/static/boutique/images/lightbulb.png" type="light">
      <div id="module3" type="module-name"> </div>
      <div id="module3_desc"> </div>
    </div>
  </div>

  <div type="border-div"> </div>
  <div type="instructor-container">
    <div type="left-container">
      <h2> About the instructor </h2>
      <h4 id="instructor-name"> Mr Stephan, Digital Consutant at BCG </h4>
      <p id="instructor-bio"> Mr Stephan has been working in the area of agile development
        for 15 years. He started teaching 5 years ago. </p>
    </div>

    <div type="right-container">
      <img src="/static/boutique/images/instructor.png" type="instructor-picture">
      <p id="instructor-legend"> Mr Stephan </p>
    </div>
  </div>


  <div type="border-div"></div>
  <div type="container">

    <h2 type="title-center"> Get Inspired </h2>
    <div type="get-inspired-container">
      <div>
        {% if inspiration_list %}
        {% for inspiration in inspiration_list %}
        <div type="review-container">
          <div type="review-text"><strong>{{ inspiration.title }} </strong><br>"{{inspiration.text }}"</div>
          <img src="/static/boutique/images/user.png" alt="" type="user-image">
          <div type="review-user"><strong>{{ inspiration.user }}</strong> <br> Current employee</div>
        </div>
        {% endfor %}
        {% else %}
        <p>No inspiration are available.</p>
        {% endif %}
      </div>
    </div>
  </div>


  {% if course %}
  <script>
    var json = {{ course.json | safe }}
    console.log(json)
    document.getElementById('title').innerHTML += json.name;
    document.getElementById('description').innerHTML += json.description;
    document.getElementById('price').innerHTML += json.price;
    document.getElementById('who_for').innerHTML += json.who_for;
    document.getElementById('what_in_it').innerHTML += json.what_in_it;

    document.getElementById('module1').innerHTML += json.modules[0][0];
    document.getElementById('module1_desc').innerHTML += json.modules[0][1];
    document.getElementById('module2').innerHTML += json.modules[1][0];
    document.getElementById('module2_desc').innerHTML += json.modules[1][1];
    document.getElementById('module3').innerHTML += json.modules[2][0];
    document.getElementById('module3_desc').innerHTML += json.modules[2][1];
  </script>
  {% else %}
  <p>No course are available.</p>
  {% endif %}



  <div>
    <ul footer=bottom>
      <img src="/static/boutique/images/logo.png" alt="" type="logo-image-bottom">
      <li type="bottom-list"><a onclick="aboutus()">About us</a></li>
      <li type="bottom-list"><a onclick="contactus()">Contact us</a></li>
      <li type="bottom-list"><a onclick="joinus()">Join us</a></li>
      <li type="bottom-list" position="last"><a onclick="terms()">Terms & Conditions</a></li>
      <img src="/static/boutique/images/twitter.png" alt="" type="social-image">
      <img src="/static/boutique/images/instagram.png" alt="" type="social-image">
      <img src="/static/boutique/images/facebook.png" alt="" type="social-image">
    </ul>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function aboutus() {
      swal("About Us", "EasyAgile is a company specialized in the sale of agile trainings. \nWe have more than 500 employee all around the world. Our teachers \
have been working in the area of agile development for at least 5 years. ");
    }

    function contactus() {
      swal("We'd love to hear from you !", "Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions. \n\
    Write us at the address: easyagile@gmail.com");
    }

    function joinus() {
      swal("Want to be a part of our adventure ?", "Join our team in Paris to help reshape the agile traning landscape and sell product that reach over 5 million customers worldwide!\n\
    Write us at the address: easyagile@gmail.com");
    }

    function terms() {
      var content = document.createElement('div');
      content.innerHTML = 'Please read these terms and conditions of use carefully before accessing, using or obtaining any materials, information,\
       products or services.\nBy accessing, the our website, you agree to be bound by these terms and conditions ("Terms") and our Privacy Policy.';
      swal({
        title: "Terms & Conditions",
        content: content
      });
    }
  </script>

</body>
