{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boutique/homepage.css' %}">


<ul footer=top>
  <li><a href="/boutique/index">Home</a></li>
  <li><a href="/boutique/assessment">Assessment</a></li>
  <li><a href="/boutique/trainings">Training</a></li>
  <li><a href="/boutique/calendar">Calendar</a></li>
  <li><a href="/boutique/consulting">Consulting</a></li>
</ul>


<body>
  <div type=about-us>
    <h1 type="whitetext-top"> About us </h1>
    <h4 type="whitetext"> Who are we ? <br /> What do we do ? </h4>
  </div>



  <div>
    <h2 type="title-center"> Our services </h2>

    <div type="container">
      <div type="image-container" service="assessment"> </div>
      <div type="text-container">
        <h4> Assessment </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem
          quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
          numquam
          eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>

    <div type="container">
      <div type="image-container" service="trainings"> </div>
      <div type="text-container">
        <h4> Trainings </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem
          quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
          numquam
          eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>

    <div type="container">
      <div type="image-container" service="coaching"> </div>
      <div type="text-container">
        <h4> Coaching </h4>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem
          quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
          numquam
          eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      </div>
    </div>
  </div>

  <div style="clear:both;"></div>

  <div type="about-background">
    <h2 type="title-center"> About us </h2>

    <div type="question">
      <div type="question-left"> <strong>Who are we </strong></div>
      <div type="answer-right"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam
        voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </div>
    </div>
    <div type="question">
      <div type="question-left"><strong> What do we do </strong></div>
      <div type="answer-right"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam
        voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </div>
    </div>
    <div type="question">
      <div type="question-left"> <Strong> Contact us </strong></div>
      <div type="answer-right"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam
        voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </div>
    </div>
  </div>



  <div>
    <h2 type="title-center"> Our Partners </h2>
    <div>
      <div type="partner-name"> Safe </div>
      <div type="partner-name"> Scrum Alliance </div>
      <div type="partner-name"> Scrum.org </div>
      <img src="/static/boutique/safe_image.png" alt="" type="safe-image">
      <img src="/static/boutique/csm_image.png" alt="" type="csm-image">
      <img src="/static/boutique/scrum_image.png" alt="" type="scrum-image">
    </div>

  </div>

  <div style="clear:both;"></div>


  <div type=inspirations>
    <h2> Get inspired </h2>
    <div>
      {% if inspiration_list %}
      <ul>
        {% for inspiration in inspiration_list %}
        <li>"{{ inspiration.text  }}" - {{ inspiration.user }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No inspiration are available.</p>
      {% endif %}
    </div>
  </div>

  <div>
    <ul footer=bottom>
      <li><a href="/boutique/index">Home</a></li>
      <li><a href="/boutique/assessment">Assessment</a></li>
      <li><a href="/boutique/trainings">Training</a></li>
      <li><a href="/boutique/calendar">Calendar</a></li>
      <li><a href="/boutique/consulting">Consulting</a></li>
    </ul>
  </div>

</body>
