{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boutique/trainings.css' %}">


<ul footer=top>
  <li><a href="/boutique/index">Home</a></li>
  <li><a href="/boutique/assessment">Assessment</a></li>
  <li><a href="/boutique/trainings">Training</a></li>
  <li><a href="/boutique/calendar">Calendar</a></li>
  <li><a href="/boutique/consulting">Consulting</a></li>
</ul>


<body>

  <div type=inspirations>
    <h2> Find your training </h2>
    <div>
      {% if course_list %}
      <ul>
        {% for course in course_list %}
        <li type="trainings"><a href="/boutique/course/{{ course.course_name }}/">{{ course }} </a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No course are available.</p>
      {% endif %}
    </div>
  </div>

  <div>
    <ul footer=bottom>
      <li><a href="/boutique/index">Home</a></li>
      <li><a href="/boutique/assessment">Assessment</a></li>
      <li><a href="/boutique/trainings">Training</a></li>
      <li><a href="/boutique/calendar">Calendar</a></li>
      <li><a href="/boutique/consulting">Consulting</a></li>
    </ul>
  </div>

</body>
