{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boutique/trainings.css' %}">


<ul footer=top>
  <img src="/static/boutique/images/logo.png" alt="" type="logo-image-top">
  <li type="top-list"><a href="/boutique/index">Home</a></li>
  <li type="top-list"><a href="/boutique/assessment">Assessment</a></li>
  <li type="top-list"><a href="/boutique/trainings">Training</a></li>
  <li type="top-list"><a href="/boutique/calendar">Calendar</a></li>
  <li type="top-list"><a href="/boutique/consulting">Consulting</a></li>
  <input type="search" placeholder="Search..">
  <img src="/static/boutique/images/profil.png" alt="" type="profil-image">
</ul>


<body>
  <div type=trainings-container>
    <h2> Find your training </h2>
    <div>
      {% if course_list %}
      <ul>
        {% for course in course_list %}
        <li type="trainings"><a href="/boutique/course/{{ course.course_name }}/">{{ course }} </a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No course are available.</p>
      {% endif %}
    </div>
  </div>

  <div>
    <ul footer=bottom>
      <img src="/static/boutique/images/logo.png" alt="" type="logo-image-bottom">
      <li type="bottom-list"><a href="/boutique/index">About us</a></li>
      <li type="bottom-list"><a href="/boutique/assessment">Contact us</a></li>
      <li type="bottom-list"><a href="/boutique/trainings">Join us</a></li>
      <li type="bottom-list" position="last"><a href="/boutique/calendar">Terms & Conditions</a></li>
      <img src="/static/boutique/images/twitter.png" alt="" type="social-image">
      <img src="/static/boutique/images/instagram.png" alt="" type="social-image">
      <img src="/static/boutique/images/facebook.png" alt="" type="social-image">
    </ul>
  </div>

</body>
