/* TOP FOOTER */
ul[footer=top] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 10%;
}

li[type=top-list] {
  float: left;
  margin-left: 5%;
  padding-top: 1.5%;
  font-size: 3vh;
}

li a {
  display: block;
  text-decoration: none;
  color: #3b4754;
}

img[type=logo-image-top] {
  float: left;
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

input[type=search] {
  float: left;
  width: 13%;
  height: 5vh;
  margin-top: 1.1%;
  margin-left: 10%;
  padding-left: 10px;
  border: solid 2px #ccc;
  border-radius: 30px;
  font-size: 2vh;
}

img[type=profil-image] {
  float: left;
  width: 3%;
  margin-left: 5%;
  margin-top: 0.8%;
}

/* SLIDING IMAGES */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-white {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}

.text-black {
  color: black;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}

.text-black-little {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 80px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}


h2[type=title-center] {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

/* IMAGE CONTAINERS */
div[type=container] {
  display: inline-block;
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

div[type=image-container] {
  float: left;
  border-radius: 10px;
  height: 250px;
  width: 30%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 100%;
}


div[service=assessment] {
  background-image: url("/static/boutique/images/assessment_image.png");
}

div[service=trainings] {
  background-image: url("/static/boutique/images/trainings_image.png");
}

div[service=coaching] {
  background-image: url("/static/boutique/images/coaching_image.png");
}

div[type=text-container] {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  width: 65%;
}

/* QUESTIONS */
div[type=about-background] {
  background-color: #daeaff;
  width: 100%;
  padding-top: 20px;
  margin-top: 60px;
  padding-bottom: 60px;
}

div[type=question] {
  display: inline-block;
  margin-top: 60px;
}

div[type=question-left] {
  float: left;
  width: 15%;
  margin-left: 5%;
}

div[type=answer-right] {
  float: left;
  width: 65%;
  margin-left: 10%;
}


/* PARTNERS */
div[type=partner-container] {
  overflow: hidden;
}
div[type=partner-name] {
  float: left;
  width: 33%;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

img[type=safe-image] {
  float: left;
  width: 8%;
  margin-left: 12.5%;
  margin-top: 15px;
}

img[type=csm-image] {
  float: left;
  width: 8%;
  margin-left: 25%;
  margin-top: 10px;
}

img[type=scrum-image] {
  float: left;
  width: 9%;
  margin-top: 30px;
  margin-left: 25%;
}

/* REVIEWS */
div[type=border-div] {
  border-top-width: 1px;
  border-top-color: grey;
  border-top-style: solid;
  margin-top: 50px;
  display: flow-root;
  clear: both;
}
div[type=get-inspired-container] {
  margin-bottom: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

div[type=review-container] {
  display: inline-table;
  width: 30%;
  border: solid 2px #ccc;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

div[type=review-text] {
  font-style: italic;
  width: 80%;
  margin: 5%;
  word-wrap: break-word;
  white-space: break-spaces;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

div[type=review-text]:hover {
  overflow: visible;
}

img[type=user-image] {
  width: 15%;
  margin: 5%;
  float: left;
}

div[type=review-user] {
  margin-top: 7%;
  margin-right: 5%;
  margin-bottom: 5%;
  float: left;
}


/* NEWLETTER */
div[type=newsletter-container] {
  background-color: #daeaff;
  width: 100%;
  padding-top: 20px;
  margin-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

div[type=newsletter-text] {
  text-align: center;
  margin-left: 30%;
  width: 40%;
}

input[type=email] {
  float: left;
  width: 20%;
  height: 5vh;
  margin-top: 2%;
  margin-left: 33%;
  padding-left: 10px;
  border: solid 2px #ccc;
  border-radius: 10px;
  font-size: 2vh;
}

button[type=email] {
  float: left;
  margin-top: 2%;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  border-style: none;
  color: white;
  font-size: 2vh;
  margin-left: 3%;
}

/* BOTTOM FOTTER */
ul[footer=bottom] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 10%;
}

img[type=logo-image-bottom] {
  float: left;
  width: 5%;
  margin-left: 2%;
  margin-right: 6%;
}

li[type=bottom-list] {
  float: left;
  margin-left: 8%;
  padding-top: 1.5%;
  font-size: 3vh;
}

li[position=last] {
  margin-right: 10%;
}

img[type=social-image] {
  float: left;
  width: 2%;
  margin-left: 1%;
  margin-top: 1%;
}
